.main {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height:fit-content;
    padding:20px 200px 150px 200px ;


}

.img1 {
    
    min-height: 200px;
    max-height: 300px;
    
}

.img2 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border:5px solid #3882F6;
    object-fit:cover;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.low-header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
} 

p2 {font-size: 48px;
    font-weight:800;
    color: #F9FAF8;
    padding-right: 50px;
}

p {font-size: 18px;
   color: #E5E7EB;
}

.gif {
    width: 10%;
    height: 10%;
}

.header-links {
    width: 500px;
    
}
.container1 {
    background-color: rgb(243, 245, 245);
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 40px 0px;
    margin: 0;
    align-items: center;
    flex: 1;
    
}
.container2 {
    background-color: #E5E7EB;
    height:fit-content;
    text-align: center;
    padding:10% 20% 10% 20% ;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.container3 {
    background-color: rgb(255, 255, 255);
    height: 250px;
}
footer {
    background-color: #1F2937;
    height: fit-content;
    color: white;
    padding: 30px;
    text-align: center;
}

button {
    border-radius: 7px;
    top: 550px;;
    left: 210px;
    position:absolute;
    
}
.title {
    font-size: 36px;
    font-weight:800;
    
}
.cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    
}

.box {
   display: flex; 
   text-align: center;
   width: 150px;
   gap: 5em;
   align-items: center;
   justify-content: center;
   margin-bottom: 5%;
   
}

p4 {font-weight: bold;
    padding-right: 0%;
}

