.main {
    display: flex;
    flex-direction: column;
    flex: auto;
    
}
.header {
    background-color: #1F2937;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 40px 200px;
    height: 400px;

}

img {
    width: 40%;
    height: 200px;
    

}

.top-header {
    display: flex;
    justify-content: space-between;
}

.low-header {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
} 

p2 {font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-right: 50px;
}

p {font-size: 18px;
   color: #E5E7EB;
}

p1 {
    font-size: 24px;
    color: #F9FAF8;
}
.header-links {
    width: 500px;
}
.container1 {
    background-color: rgb(243, 245, 245);
    height: 350px;
}
.container2 {
    background-color: #E5E7EB;
    height: 300px;
}
.container3 {
    background-color: rgb(255, 255, 255);
    height: 250px;
}
.footer {
    background-color: #1F2937;
    height: fit-content;
    color: white;
    padding: 30px;
    text-align: center;
}